body, header, aside, section, article, footer, div, img, h1, h2, h3, h4, h5, h6, p, ul, li {
	padding: 0;
	margin: 0;
}

body{
	background-image: url("../img/bg.jpg");
	background-color: #040c0e;
	background-repeat: repeat-x;
	background-size: 100%;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.wrap {
	width: 90%;
	margin: 0 auto;
}
#news {
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	color: #eee;
	}
#newsblock83112512{
	width: 70%;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}
.bc_title {
	color: yellow;
	font-size: 25px;
}
#feedtitle{
	color: #0AFFFA;
	font-size: 35px;
}
/* -- Header -- */
#header {
	background: rgba(0, 0, 0, 0.86)
}
#header:after {
	content: "";
	clear: both;
	display: block;
}
	/* Logo */
	#logo {
		float: left;
		margin:10px;
	}
		#logo img {
			height: 78px;
		}

	/* Navigation */
	#main-nav {
		float: right;
		margin-top: 38px;
	}
		#main-nav ul {
			font: bold 20px 'Trebuchet MS', Tahoma, verdana, sans-serif;
		}
			#main-nav ul li {
				float: left;
				padding: 0 18px;
			}
				#main-nav ul li a {
					float: left;
					font-size: 18px;
					color: #fff;
				}
				#header ul li a:hover, #header #current a{
					border-top: 5px solid #fff;	
				}
				#header #current a {
				  	color: #fff;
				  	border-top: 5px solid #29ede9;
				}
			/* search form */
		#search {
			float: right;
			margin-right: 20px;
			margin-top: 30px;
		}
		#search:after {
			content: "";
			clear: both;
			display: block;
		}
		#search-btn {
			float: left;
			background: #29ede9;
			color: #fff;
			font: 'trebuchet ms', trebuchet;
			padding: 10px 20px;
			border-radius: 0 10px 10px 0;
			-moz-border-radius: 0 10px 10px 0;
			-webkit-border-radius: 0 10px 10px 0;
			-o-border-radius: 0 10px 10px 0;
			border: 0 none;
			font-weight: bold;
		}
		 
		#search-box {
			float: left;
			background: #FFF;
			position: relative;
			right: -2px;
			padding:10px; 
			 border-radius:10px 0 0 10px;
			-moz-border-radius:10px 0 0 10px;
			-webkit-border-radius:10px 0 0 10px;
			-o-border-radius:10px 0 0 10px;
			border:0 none;
			width:160px;
		 }

/* Index pic */
#index-pic {
	text-align: center;
}
	#index-pic img {
		height: 316px;
	}

/* -- Bottom part of index -- */
#page-bottom {
	background: rgba(0,0,0,.46);
	width: 100%;
	position: fixed;
		bottom: 0; /* sticked to the bottom */
}

/* -- Categories -- */
#categories {
	height: 203px;
	width: 86%;
	margin: 0 auto;
}
#categories:after {
	content: "";
	clear: both;
	display: block;
}
		#categories ul li, .jokes-selection ul li {
			float: left;
			margin: 0 0 0 12px;
		}
		#categories ul li:hover img, .jokes-selection ul li:hover img {
			-webkit-transform: rotate(360deg);
			transition: all .6s;
			-moz-transition: all .6s;
			-webkit-transition: all .6s;
		}
			#categories ul li a, .jokes-selection ul li a {
				display: block;
				color: #fff;
				text-align: center;
				font-size: 18px;
				width: 146px;
				height: 125px;
				padding: 21px 0 0 0;
			}
				#categories ul li a img, .jokes-selection ul li a img {
					display: block;
					margin: 0 auto 20px;
				}

/* --- Footer --- */
#footer {
	width: 96%;
	margin: 0 auto;
	color: #fff;
}
#footer:after {
	content: "";
	clear: both;
	display: block;
}
	#copyright {
		float: left;
	}
	#socials {
		float: right;
	}
	#socials:after {
		content: "";
		clear: both;
		display: block;
	}
		#socials li {
			float: left;
			padding: 3px;
			width: 20px;
			height: 18px;
		}
			#socials li a {
				display: block;
				width: 20px;
				height: 18px;
			}
				#socials li a.twitter {
					background: url("../img/soc/twitter.png") no-repeat;
				}
				#socials li a.linkedin {
					background: url("../img/soc/linkedin.png") no-repeat;
				}
				#socials li a.facebook {
					background: url("../img/soc/facebook.png") no-repeat;		
				}

/* -- Inner pages elements -- */
#inner-content {
	width: 100%;
	background: rgba(0,0,0,0.5);
	color: #eee;
}
#inner-content:after {
	content: "";
	clear: both;
	display: block;
}
	/* Content section */
	.content-section {
		width: 66%;
		float: left;
		font-weight: bold;
                font-size: 16px;
	}
	
		.	
	

	/* Sidebar */
	.aside-cat {
		width: 33%;
		background: blue;
		float: right;
	}

/* Jokes selection aside */
.jokes-selection {
	padding-top: 20px;
}
.jokes_selection:after {
	content: "";
	clear: both;
	display: block;
}

.aside-cat {
	float: right;
}
.aside-cat:after {
	content: "";
	clear: both;
	display: block;
}
	.aside-cat ul li {
		padding-left: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: url("../img/emoticons/smile.png") no-repeat 3px 12px;
	}
	.aside-cat ul li:hover, #selected-cat-jokes {
		background: url("../img/emoticons/laugh.png") no-repeat 3px 12px;
	}
		.aside-cat ul li a {
			color: #eee;
		}

	
		
#jokes-content {
}
#jokes-content:after {
	content: "";
	clear: both;
	display: block;
}
#joke-of-day {
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	color: #eee;
}
	.cat-joke {
		padding-bottom: 6px;
	}
	#jokes-content article {
		width: 90%;
		padding: 16px 6px;
		border-bottom: 1px dotted #666;
	}


/* -- Team members -- */
#team-members {
	width: 90%;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
}
#team-members:after {
	content: "";
	clear: both;
	display: block;
}
	#team-members .member {
		width: 100%;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 6px;
		border-bottom: 1px dotted #666;
	}
	#team-members .member:after {
		content: "";
		clear: both;
		display: block;
	}
		#team-members .member img {
			float: left;
			width: 16%;
			padding-left: 22px;
		}
		#team-members .member .info {
			float: right;
			width: 76%;
			margin-right: 22px;
			color: #eee;
		}
			.member .info h3 {
				padding-bottom: 5px;
				border-bottom: 1px dotted #aaa;
				font-family: Anton, cursive;
			}
			.member .info p {
				padding-top: 10px;
			}

/* -- Gallery -- */
#gallery {
}
#gallery:after {
	content: "";
	clear: both;
	display: block;
}
	#gallery img {
		float: left;
		max-width: 120px;
		margin: 14px;
	}

@media all and (max-width: 960px) {
 
}

@media all and (max-width: 780px) {

}

@media all and (max-width: 640px) {
  
}

@media all and (max-width: 480px) {
			body{
				background-image: none;
				background-color: #040c0e;			
			}
			#logo {
				float: left;
			}
				#logo img {
					height: 50px;
				}

			#main-nav ul li {
				float: none;
				margin:0 auto;
				padding: 0 180px 0 200px;
				display:block;
				left:0;
			
				border-bottom: 1px dotted #666;

				
			}
				#main-nav ul li a {
					float: none;
					font-size: 25px;
					color: #fff;
				}
				#header ul li a:hover, #header #current a{
					border-top: 2px;	
					margin: 0 auto;
					color: #29ede9;
				}
				#header #current a {
				  	color: #29ede9;
				  	border-top: 2px;
				}
						#search {
							float: right;
							position;relative;
							margin: 15px;
							display:block;
							
						}
						#search:after {
							content: "";
							clear: both;
							display: block;
						}
						#search-btn {
							float: none;
							background: #29ede9;
							color: #fff;
							font: 'trebuchet ms', trebuchet;
							padding: 8px 15px;
							border-radius: 0 10px 10px 0;
							-moz-border-radius: 0 10px 10px 0;
							-webkit-border-radius: 0 10px 10px 0;
							-o-border-radius: 0 10px 10px 0;
							border: 0 none;
							font-weight: bold;
						}
						 
						#search-box {
					float: left;
					background: #FFF;
					position: relative;
					right: -2px;
					padding:8px; 
					 border-radius:10px 0 0 10px;
					-moz-border-radius:10px 0 0 10px;
					-webkit-border-radius:10px 0 0 10px;
					-o-border-radius:10px 0 0 10px;
					border:0 none;
					width:80px;
				 }
				 #index-pic {
					text-align: center;
				}
					#index-pic img {
						height: 200px;
					}
				
				#page-bottom {
					background: rgba(0,0,0,.46);
					width: 100%;
					
					position: relative;
					bottom: 0; /* sticked to the bottom */
				}

	
				
					#categories:after {
						content: "";
						clear: both;
						display: block;
					}
							#categories ul li, .jokes-selection ul li {
								float: left;
								margin: 0 0 0 12px;
							}
							#categories ul li:hover img, .jokes-selection ul li:hover img {
								-webkit-transform: rotate(360deg);
								transition: all .6s;
								-moz-transition: all .6s;
								-webkit-transition: all .6s;
							}
								#categories ul li a, .jokes-selection ul li a {
									display: block;
									color: #fff;
									text-align: center;
									font-size: 12px;
									width: 50px;
									height: 20px;
									padding: 18px 0 0 0;
								}
									#categories ul li a img, .jokes-selection ul li a img {
										display: block;
										margin: 0 auto 10px;
									}
								#categories img{
								width:50%; 
								height: auto;
								}
								#footer {
								display:;
									height:30%;
									margin: 0 auto;
									color: #fff;
								}
								#footer:after {
									content: "";
									clear: both;
									display: block;
								}
									#copyright {
										float: left;
									}
									#socials {
										float: right;
									}
									#socials:after {
										content: "";
										clear: both;
										display: block;
									}
										#socials li {
											float: left;
											padding: 3px;
											width: 20px;
											height: 18px;
										}
											#socials li a {
												display: block;
												width: 20px;
												height: 18px;
											}
												#socials li a.twitter {
													background: url("../img/soc/twitter.png") no-repeat;
												}
												#socials li a.linkedin {
													background: url("../img/soc/linkedin.png") no-repeat;
												}
												#socials li a.facebook {
													background: url("../img/soc/facebook.png") no-repeat;		
												}
												/* -- Inner pages elements -- */
#inner-content {
	width: 100%;
	background: rgba(0,0,0,0.5);
	color: #eee;
}
#inner-content:after {
	content: "";
	clear: both;
	display: block;
}
	/* Content section */
	.content-section {
		width: 66%;
		float: left;
		font-weight: bold;
        font-size: 16px;
	}
	
		.	
	

	/* Sidebar */
	.aside-cat {
		width: 33%;
		background: blue;
		float: right;
	}

/* Jokes selection aside */
.jokes-selection {
	padding-top: 20px;
}
.jokes_selection:after {
	content: "";
	clear: both;
	display: block;
}

.aside-cat {
	float: right;
}
.aside-cat:after {
	content: "";
	clear: both;
	display: block;
}
	.aside-cat ul li {
		padding-left: 26px;
		padding-top: 10px;
		padding-bottom: 10px;
		background: url("../img/emoticons/smile.png") no-repeat 3px 12px;
	}
	.aside-cat ul li:hover, #selected-cat-jokes {
		background: url("../img/emoticons/laugh.png") no-repeat 3px 12px;
	}
		.aside-cat ul li a {
			color: #eee;
		}

	
		
#jokes-content {
}
#jokes-content:after {
	content: "";
	clear: both;
	display: block;
}
#joke-of-day {
	width: 100%;
	margin: 0 auto;
	background: rgba(0,0,0,0.5);
	padding: 40px;
	color: #eee;
}
	.cat-joke {
		padding-bottom: 6px;
	}
	#jokes-content article {
		width: 90%;
		padding: 16px 6px;
		border-bottom: 1px dotted #666;
	}



}
